<nav class="navbar">
    <div class="navbar-container">
        <a routerLink="/" class="navbar-brand">POC Turnover</a>
        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar-menu">
            <li class="navbar-item"><a routerLink="/" class="navbar-link">Centre de Coût</a></li>
            <li class="navbar-item"><a routerLink="raison" class="navbar-link">Raisons fréquentes</a></li>
        </ul>
    </div>
</nav>
  
<router-outlet></router-outlet>
